.contactCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;
  height: 100px;
  padding: 10px;

  border: 1px solid black;
  border-radius: 4px;
}

.contactData {
  display: flex;
  align-items: center;
}

.icon {
  width: 20px;
  margin-right: 5px;
}
